@layer header {
    menu.full-menu {
        display: none;
    }

    menu.mobile-menu {
        width: 2.5rem;
    }

    menu {
        color: var(--color-font-primary);
        list-style: none;
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    dialog.menu-dialog {
        width: 60vw;
        max-width: 100vh;
        height: 100vh;
        max-height: 100vh;
        border: 1px solid var(--color-font-primary);
        background-color: rgb(from var(--color-font-primary) r g b / 0.95);
        /* opacity: 0.95; */
        padding: 1rem;

        menu {
            color: var(--color-primary);
            margin-block: 1rem;

            display: flex;
            flex-direction: column;
            max-width: 80%;
            gap: 0.5rem;
            li {
                background-color: var(--color-font-primary);
            }
            a {
                border: 1px solid ghostwhite;
                display: block;
                padding: 0.5rem 1rem;
                transition: all 0.3s ease-in-out;
            }
            a:hover {
                border: 1px solid rgb(144, 144, 152);
                transform: scaleY(1.2);
            }
        }
    }
}

@media (width > 500px) {
    menu.full-menu {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        a {
            border: 1px solid ghostwhite;
            display: block;
            padding: 0.5rem 1rem;
            /* transition-property: all;
            transition-duration: 1s;
            transition-delay: 1s;
            transition-timing-function: linear */
            transition: all 0.3s ease-in-out;
        }
        a:hover {
            /* font-size: var(--size-large);
            padding: 0.2rem 0.5rem; */
            border: 1px solid rgb(144, 144, 152);
            transform: scale(1.2);
        }
    }

    menu.mobile-menu {
        display: none;
    }
}
