PORT="Add http server port"
NODE_ENV=dev,prod,test
PROJECT_NAME="Add project name" e.g. 19.films-Test
DEBUG="Add debug namespace" e.g. 19.films-Test*
JWT_SECRET=Add a long and random string for JWT secret (e.g. GfyExNXJRPaB/iMOoLevTQzisg+FHfmamnwbMsqiKBY=)
PGUSER=user (e.g postgres)
PGPASSWORD=password
PGHOST=Host (e.g. localhost)
PGPORT=Port (e.g. 5433)
PGDATABASE=db name (e.g. films_db)
DATABASE_URL=suma de los anteriores

Crea los ficheros .env y .env.test a partir de este .env.sample, 
rellenando los valores necesarios para cada entorno.
